.Circle{

    position: fixed;
    margin-left: 500px;
    margin-top: 250px;
    width : 500px;
    height: 500px;
    border-radius: 250px;

}

.Circle h1{

    margin-left: 50px;
    margin-top: 180px;

}

.button{

    margin-left: 180px;
    margin-top: 75px;

}

.button button{

    width: 125px;

}
.Monz h1{

    position: fixed;
    margin-left: 475px;
    margin-top: 50px;

}